
HW2/terraform/terraform.tfvars
HW2/terraform/terraform.tfstate.backup
.DS_Store
.DS_Store
HW2/terraform/terraform.tfstate.1736961003.backup
HW2/terraform/terraform.tfstate.1736961126.backup
HW2/terraform/terraform.tfstate.1737051887.backup
HW2/terraform/terraform.tfstate.1737052408.backup
HW2/terraform/key.json
HW2/build/bot.zip
HW2/terraform/terraform.tfstate
HW2/build/bot.zip
/HW2/build/
/HW2/terraform/.terraform/
